.container {
    height: 4rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.list {
    display: flex;
    border: 1px solid red;
    padding: 0;
    list-style: none;
    align-items: center;
    padding: 1rem;
    margin-top: 0;
}

.navItem {
    flex: 0 0 auto;
    margin: 0 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem:nth-child(1) {
    margin-right: auto;
}

.navLink {
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
}